venv/
.venv/
datasets/
__pycache__/
*.pyc
*.pyo
*.pyd
*.db
*.sqlite
*.log
*.csv
*.tsv
*.json
*.xml
*.yaml
*.yml
*.pickle
*.pkl
*.h5
*.hdf5
*.pt
*.pth
*.ckpt
*.onnx
*.pb
*.tflite
*.zip
*.tar
*.tar.gz
*.tar.bz2
*.tar.xz
*.tar.lzma
*.tar.zst   